<style type="text/css">
  .ui.menu .item img.logo {
    margin-right: 1.5em;
  }
  .main.container {
    padding-top: 7em;
  }
</style>

<div class="ui fixed inverted menu">
  <div class="ui container">
    <a href="/#" class="header item">
      <img alt='logo' class="logo" src="https://avatars3.githubusercontent.com/u/6655347?s=200&v=4">
      Atreyu
    </a>
    <div class="ui simple dropdown item">
      Dropdown <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="/#">Link Item</a>
        <a class="item" href="/#">Link Item</a>
        <div class="divider"></div>
        <div class="header">Header Item</div>
        <div class="item">
          <i class="dropdown icon"></i>
          Sub Menu
          <div class="menu">
            <a class="item" href="/#">Link Item</a>
            <a class="item" href="/#">Link Item</a>
          </div>
        </div>
        <a class="item" href="/#">Link Item</a>
      </div>
    </div>
  </div>

  <div class="right fixed inverted menu">
    {#if logedIn}
      <a class="item" href="/logout">logout</a>
    {:else}
      <a class="item" href="/login">login</a>
    {/if}
  </div>
</div>

<div class="ui main text container">
  <h1 class="ui header">Atreyu Demo</h1>

  <Ren data={$$schema$} root={$$}/>

  {$name.$title$}: {$name$}
</div>

<script>
  import 'semantic-ui-css/semantic.css'
  import { Store } from 'falcor-store'
  import { HttpDataSource } from 'falcor/dist/falcor.all.js'

  const atreyu = new Store(
    {
      hello: 'world falcor cache init',

      byId: {
        a: {
          text: 'sdfsdfsd sdfsdf'
        }
      },

      sorted: {
        1: { $type: 'ref', value: ['byId', 'd'] },
        2: { $type: 'ref', value: ['byId', 'a'] },
        length: 5
      }
    },
    {
      immutable: true,
      source: new HttpDataSource('/falcor', {
        crossDomain: true,
        withCredentials: true,
        headers: {}
      })
    }
  )

  window.atreyu = atreyu._falcor

	export default {
    data() {
      return {
        logedIn: document.cookie.includes('CF_Authorization')
      }
    },
    components: {
			Ren: './Ren.html'
		},
    store: () => atreyu
  }
</script>
