/* atreyu resets */
body, #app {
  height: 100vh;
  /* background: rgb(2,0,36);
  background: linear-gradient(213deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 20%, rgba(0,212,255,1) 100%); */
	font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 300;
	/* color: #333; */
	margin: 0;
}

* {
  box-sizing: border-box;
}

button, a {
  cursor: pointer;
}

button:focus, input:focus {
  outline: none;
}

ul {
	padding-inline-start: 0px;
}
